<% provide(:title, @user.email) %>
<% spotify_user = RSpotify::User.new(session[:hash]) %>
<% sort_by = params[:sort_by] %>

<% if @user.phone.nil? %>
<% else %>
  <div class="row center show">
    <h1> <%= "Your Twilio Number is #{@user.phone}" %> </h1>
  </div>
<% end %>

<div class="row">
  <div class="col-md-3">
    <section class="user_info">
      <small> <i> Showing most recent playlists </i> </small>
      <table class="table table-dark dark-bg">
        <thead>
          <tr>
            <th><%= "Your Playlists" %></th>
          <tr>
        <thead>
        <tbody>
          <% spotify_user.playlists.each_with_index do |k, index| %>
            <tr>
              <td>
                <%= link_to "#{index+1}. #{k.name}", user_path(:playlist_id => index+1) %>
              </td>
            </tr>
          <% end %>
        <tbody>
      </table>
    </section>
  </div>

  <div class="col-md-9">
    <section class="user_info">
      <small> <i> Showing 50 most recent songs.  Refresh to see new songs added. </i> </small>
      <table class="table dark-bg table-dark ">
        <% if @user.account_sid.nil? %>
          <h1> Please connect your Twilio <br> credentials in the Settings Tab! <h1>

        <% elsif @tracks.nil? %>
          <h1> Please Select a Playlist! </h1>
        <% else %>
        <thead>
          <tr>
            <th><%= "Title" %></th>
            <th><%= "Artist" %></th>
            <% if !sort_by.nil? %>
              <th><%= sort_by.capitalize %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @tracks.each do |track| %>
            <tr>
              <td><%= track.name %></td>
              <td><%= track.artists[0].name %></td>
              <% if !sort_by.nil? %>
                <td>
                  <%= "#{track.audio_features.send(sort_by).round(2)}" %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
        <% end %>
      </table>

    </section>
  </div>
</div>
